.menu-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-container {
  margin-top: 42px;
}

.item-tag {
  color: var(--price-color);
}
