.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  width: 15vw;
}
