.restaurant-item-cover{
    height: 190px;
    width: 260px;
    background-color: var(--primary-bg);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    margin: 6px;

}

.restaurant-item-image {
    object-fit: cover;
    height: 94%;
    width: 94%;
    border-radius: 8px;
   
}

.restaurant-item-title {
    font-size: 15px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 6px;
    margin-left: 6px;
}