.header-searchbar {
    width: 130%;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon-container {
    display: flex;
    flex-direction: center;
    align-items: center;
    font-weight: 550;
    color: var(--heading-text);
}

.location-pin {
    color: var(--location-red);
}

.location-pin-2 {
    color: var(--location-blue);
    position: absolute;
}

.container {
    height: 8ovh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.map{
    height: 70vh;
}

h2{justify-content: center;}


/*************************************************/

.App {
  height: 100vh;
  width: 100%;
}

.circle {
  background-color: #d83b01;
  border-radius: 50%;
  color: #fff;
  height: 2.5em;
  position: relative;
  width: 2.5em;

  border: 1px solid transparent;
}

.circleText {
  text-align: center;
  height: 50%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.hover {
  background-color: #0078d4;
}

